<h1>User Registration Form</h1>
<form [formGroup]="registerForm" (ngSubmit)="handleSubmit()">
  <div>
    <label>username </label>
    <input
      type="text"
      formControlName="username"
      placeholder="Enter username"
    />
  </div>
  <div>
    <label>password </label>
    <input
      type="password"
      formControlName="password"
      placeholder="Enter password"
    />
  </div>
  <div>
    <label>role </label>
    <select formControlName="role" default="USER">
      <option value="USER">USER</option>
      <option value="ADMIN">ADMIN</option>
    </select>
  </div>
  <div>
    <button [disabled]="registerForm.invalid">Login</button>
    <p style="color: red">{{ errorMessage }}</p>
     <p style="color: green" *ngIf="successMessage">
      {{ successMessage }}
    </p>
  </div>
  <div>registere new user <a routerLink="/login">Login</a></div>
</form>
